
@{
    ViewBag.Title = "Create";
}

<h2>Додати зображення</h2>
@using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <input type="file" name="Image" id="Image" class="form-control" />
    <br />
    <input type="submit" value="Зберегти зображення" class="btn btn-default" />
}

